.container{
  margin-left: 30%;
  margin-right: 30%;
}

.box {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  opacity: 0;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}
.header{
  position: absolute;
  float: left;
  bottom: 20px;
  right: 20px;
  max-width: 200px;
  height: auto;
}
.about-me {
  background-color: #f2f2f2;
  animation: fadeIn 2s ease-in-out forwards;
}

.header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.header img {
  width: 150px;
  height: auto;
}

.my-journey {
  background-color: #e6f7ff;
  animation: slideIn 2s ease-in-out forwards;
}

.reviews {
  background-color: #fff2cc;
  animation: zoomIn 1s ease-in-out forwards;
}

.d-none{
  display: none;
}

.btn{
  background-color: rgba(255, 0, 0, 0.455);
  color: white;
  font-weight: bolder;
  font-size: 18px;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 6px;
}

.btn2{
  background-color: rgba(255, 0, 0, 0.455);
  color: white;
  font-weight: bolder;
  font-size: 18px;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 6px;
}


/* animation css */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* responsif */

@media (min-width: 800px){
  .container{
    margin-left: 10%;
    margin-right: 10%;
  }
}